@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}


#root {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px; */
}
  
@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}


/* DaisyUI customization */
.btn, input {
  @apply rounded-md;
}

.btn:hover {
  @apply bg-black;
  @apply text-white
}

.label {
  @apply text-lg font-semibold
}